Django>=4.2,<5
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
celery
django-celery-beat
redis
drf-spectacular
django-environ
python-dotenv
django-filter
django-auditlog
sentry-sdk
gunicorn
whitenoise
pytest
pytest-django